@charset "UTF-8";

h2{
	margin-bottom: 12px;
}

#btns{
	width: 100%;
	margin-top: 15px;
	display: flex;
	flex-direction: row;
	line-height: 40px;
}
.divBtn a{
	color: black;
}

#search{
	width: 100%;
	height: 100%;
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
}
#search span{
	margin-top: 10px;
}

#searchForm{
	width: 80%;
	height: 40px;
	margin: 0 auto;
	display: flex;
	margin-top: 10px;
}
#searchType{
	width: 10%;
	height: 100%;
	font-size: 16px;
	text-align: center;
	border: 3px solid #c2c2c2;
	border-right: 0px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
#searchInput{
	width: 80%;
	height: 100%;
	font-size: 18px;
	padding-top: 2px;
	padding-left: 15px;
	border: 3px solid #c2c2c2;
	border-right: 0px;
	border-left: 0px;
}
#searchSubmit{
	width: 10%;
	height: 100%;
	display: block;
	background-color: #161616;
	text-align: center;
	border: 3px solid #c2c2c2;
	border-left: 0px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
#searchSubmit:hover{
	cursor: pointer;
}


#footer{
	clear: both;
	width: 100%;
	height: 50px;
	margin-top: 535px;
}
#footer p{
	font-size: 12px;
	text-align: center;
	margin-top: 18px;	
}

/* 모바일용 사이즈  */
@media (max-width: 768px) {
	#searchType{
		width: 15%;
		font-size: 14px;
	}
	#searchInput{
		width: 75%;
		font-size: 16px;

	}
	#searchSubmit{
		width: 10%;
	}
}
