@charset "UTF-8";

h2{
	margin-bottom: 12px;
}

#btns{
	width: 100%;
	margin-top: 15px;
	display: flex;
	flex-direction: row;
	line-height: 40px;
}
.divBtn a{
	color: black;
}

#search{
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
}
#searchForm{
	width: 80%;
	height: 40px;
	margin: 0 auto;
	display: flex;
}
#searchType{
	width: 10%;
	height: 100%;
	font-size: 16px;
	text-align: center;
	border: 3px solid #c2c2c2;
	border-right: 0px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
#searchInput{
	width: 80%;
	height: 100%;
	font-size: 18px;
	padding-top: 2px;
	padding-left: 15px;
	border: 3px solid #c2c2c2;
	border-right: 0px;
	border-left: 0px;
}
#searchSubmit{
	width: 10%;
	height: 100%;
	display: block;
	background-color: #161616;
	text-align: center;
	border: 3px solid #c2c2c2;
	border-left: 0px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
#searchResult{
	width: 100%;
	height: 80%;
}
#searchResult a{
	color: #c2c2c2;
	font-family: 'NanumSquareNeoExtraBold';
	font-size: 24px;
}
#searchResult hr{
	margin-bottom: 30px;
}

#list{
	padding-left: 100px;
	padding-right: 100px;	
}
.list-group{
	display: flex;
	flex-direction: row;
	margin-bottom: 30px;
}
.list-group-item{
	display: flex;
	flex-direction: column;
	margin-left: 15px;
	justify-content: flex-end;
}
.list-group-item a{
	margin-bottom: 6px;
}

.simpleInfo{
	font-size: 14px;
	margin-top: 5px;
	margin-bottom: 10px;
}

.text-clamp {
  display: -webkit-box; /* 레이아웃을 박스 형태로 지정 */
  -webkit-box-orient: vertical; /* 박스의 정렬 방향을 수직으로 설정 */
  -webkit-line-clamp: 3; /* 표시할 라인 수를 3으로 제한 */
  overflow: hidden; /* 넘치는 텍스트를 숨김 */
  margin-bottom: 16px;
  line-height: 1.2;
}

#noResult{
	text-align: center;
	font-size: 18px;
}

#paging{
	height: 40px;
	padding-left: 100px;
}
#paging a{
	font-size: 20px;
	font-family: 'NanumSquareNeo';
}


.movieImg a img{
	width: 213px;
	height: 303px;
	margin-right: 15px;
	margin-bottom: 10px;
	transition: all 0.2s linear;
}
.movieImg a:hover img{
	transform: scale(1.1);
}

#footer
{
	clear: both;
	width: 100%;
}

/* 모바일용 사이즈  */
@media (max-width: 768px) {
	
	#searchType{
		width: 15%;
		font-size: 14px;
	}
	#searchInput{
		width: 75%;
		font-size: 16px;

	}
	#searchSubmit{
		width: 10%;
	}
	#searchResult a{
		font-size: 20px;
	}
	#list{
		padding-left: 78px;
		padding-right: 78px;	
	}
	.list-group-item{
		margin-left: 10px;
	}
	.movieImg a img{
		width: 160px;
		height: 240px;
	}
	.simpleInfo{
		font-size: 12px;
	}
	#overview{
		font-size: 14px;
	}
}